[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
six = "*"
google-images-download = "*"
tensorflow-hub = "*"
pillow = "*"
pip = "==18.0"

[dev-packages]

[requires]
python_version = "3.6"
